@model RaceDay.ViewModels.EventFormViewModel

<div class="form-group">
    @Html.LabelFor(m => m.EventName, new { @class="control-label required" })
    @Html.TextBoxFor(m => m.EventName, new { @class="form-control", placeholder="Event" })
    @Html.HiddenFor(m => m.GroupCode)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.EventDate, new { @class="control-label required" })
    <div class="input-group date" id="eventDatePicker">
        @Html.TextBoxFor(m => m.EventDate, new { @class="form-control", placeholder="mm/dd/yyyy" })
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.EventUrl, new { @class="control-label" })
    @Html.TextBoxFor(m => m.EventUrl, new { @class="form-control", placeholder="http://www.xyz.com/" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.EventLocation, new { @class="control-label" })
    @Html.TextBoxFor(m => m.EventLocation, new { @class="form-control", placeholder="Indianapolis, IN" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.EventDescription, new { @class="control-label" })
    @Html.TextAreaFor(m => m.EventDescription, new { @class="form-control", placeholder="Description" })
</div>
